.tweetBox {
    padding-bottom: 10px;
    /* border-bottom: 8px solid #e6ecf0; */
    padding-right: 10px;
    border-radius: 20px;
    border: 10px solid #e6ecf0;
    margin-bottom: 1rem;
  }
  
  .tweetBox > form {
    display: flex;
    flex-direction: column;
  }
  
  .tweetBox__input {
    padding: 20px;
    display: flex;
  }
  
  .tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
    border: 5px solid #e6ecf0;
    border-radius: 1rem;
    text-indent: 10px;
  }
  
  .tweetBox__imageInput {
    border: 3px solid #e6ecf0;
    border-radius: 1rem;
    padding: 10px;
    margin: 0 1rem 0.5rem 0.7rem;
    font-size: 15px;
  }
  
  .tweetBox__tweetButton {
    background-color: #50b7f5 !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }